# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

#rsconnect
rsconnect/*
*.dcf
SK-shiny-testing/.Rhistory

.RData

SK-shiny-testing/.Rhistory

SK-shiny-testing/.Rhistory

.RData
